* {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: var(--jeejio-background-color, #f6f6f6);
}

:root {
--van-slider-button-width: 16px;
 --van-slider-button-height:16px;
}
